body{

    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.header{
    transition:  500ms;
    width: 100%;
    top: 0px;
    position:sticky;
    background-color: blueviolet;
    padding: 15px 0;
    z-index: 20;

}   
.header.transparent{
    transition:  500ms;
    background-color: rgba(255, 255, 255, 0.678);
    border-bottom:2px solid blueviolet; 
    padding: 15px 0;
}
.header.transparent p{
    color: rgb(54, 23, 82);
    transition:  500ms;
}
.header .content{

    margin: auto;
    width: 85%;
    height: auto;
    display: flex;
    justify-content: start;
}
.header p{
    transition:  500ms;
    margin: 0;
    font-weight: bold;
    font-size: 30px;
    color: white;
}
.header h1{
    margin: 0 0 0 30px;
    color: white;
}
.content{
    width: 80%;
    height: 300px;
}
.footer{
    background-color: blueviolet;
    margin: 0 0 0 0;
    width: 100%;
    height: 300px;
}
