<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	</meta> <!-- 告知使用的編碼 -->
	<title>股票資訊查詢系統</title> <!-- 標題 -->
	<style type="text/css">
		td {
			text-align: center;
			padding: 10px;
		}
	</style>
</head>

<body>
	<h1>股票資訊查詢系統</h1> <!-- 1號標題，數字越小，字越大 -->
	<h2>Get_data_Example</h2>
	<h3>3號標題</h3>
	<h4>4號標題，數字越大，字越小</h4>
	<h5>5號標題</h5>

	<hr>
	</hr> <!-- 水平線 -->

	<h3>成員</h3>
	<ul>
		<li>B1043051 張嘉翔</li>
		<li>B1043040 戴佑丞</li>
		<li>B1031059 官振新</li>
		<li>B1143016 吳享恩</li>
		<li>B1143018 王政翔</li>
	</ul>
	<hr /> <!-- 如果"<XX>"與"</XX>"中間無文字，可用"<XX/>"簡化 -->
	<h3>範例</h3>
	<table border="10" width="400" cellpadding="5">
		<!-- 行列： border="外框粗度", width="左右保留間格長(像素)", cellpadding="上下保留間格長(像素)" -->
		<tr> <!-- 第一行 -->
			<td>股票代碼</td> <!-- 第一列 -->
			<td>最高點</td> <!-- 第二列 -->
			<td>最低點</td> <!-- 第三列 -->
			<td>漲跌幅</td> <!-- 第四列 -->
		</tr>
		<tr>
			<td>{{Data.2330_1}}</td>
			<td>{{Data.2330_2}}</td>
			<td>{{Data.2330_3}}</td>
			<td>{{Data.2330_4}}</td>
		</tr>
		<tr>
			<td>{{Data.2317_1}}</td>
			<td>{{Data.2317_2}}</td>
			<td>{{Data.2317_3}}</td>
			<td>{{Data.2317_4}}</td>
		</tr>
		<tr>
			<td>{{Data.2454_1}}</td>
			<td>{{Data.2454_2}}</td>
			<td>{{Data.2454_3}}</td>
			<td>{{Data.2454_4}}</td>
		</tr>
		</tr>
		<tr>
			<td>{{Data.col1}}</td>
			<td>{{Data.col2}}</td>
			<td>{{Data.col3}}</td>
			<td>{{Data.col4}}</td>
		</tr>
		<table>
</body>

</html>