{% extends "base.html" %}

{% block mainBody %}
<p>所有股票代碼</p>
<table border="10" width="400" cellpadding="5">
    <!-- 行列： border="外框粗度", width="左右保留間格長(像素)", cellpadding="上下保留間格長(像素)" -->

    <tr>

        <td>
            <a href="http://127.0.0.1:8000/Stock/GDE/?stock_symbol=2330">{{Data.1_1}}</a>
        </td>
        <td>
            <a href="http://127.0.0.1:8000/Stock/GDE/?stock_symbol=2317">{{Data.1_2}}</a>
        </td>
        <td>
            <a href="http://127.0.0.1:8000/Stock/GDE/?stock_symbol=2454">{{Data.1_3}}</a>
        </td>
        <td>
            <a href="http://127.0.0.1:8000/Stock/GDE/?stock_symbol=1301">{{Data.1_4}}</a>
        </td>
        <td>
            <a href="http://127.0.0.1:8000/Stock/GDE/?stock_symbol=1303">{{Data.1_5}}</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="http://127.0.0.1:8000/Stock/GDE/?stock_symbol=2412">{{Data.2_1}}</a>
        </td>
        <td>
            <a href="http://127.0.0.1:8000/Stock/GDE/?stock_symbol=2308">{{Data.2_2}}</a>
        </td>
        <td>
            <a href="http://127.0.0.1:8000/Stock/GDE/?stock_symbol=2881">{{Data.2_3}}</a>
        </td>
        <td>
            <a href="http://127.0.0.1:8000/Stock/GDE/?stock_symbol=2891">{{Data.2_4}}</a>
        </td>
        <td>
            <a href="http://127.0.0.1:8000/Stock/GDE/?stock_symbol=2892">{{Data.2_5}}</a>
        </td>
    </tr>
    <table>
        {% endblock mainBody %}